/*========= geral ============= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

ul{
  list-style: none;
}

p{
  font-size: 1.1rem;
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
}

:root {
  --header-height: 4.5rem;
  --hue: 199;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36 57% );
  --base-color-second: hsl(var(--hue) 65% 45% );
  --base-color-alt: hsl(var(--hue) 65% 35% );
  --title-color: hsl(var(--hue) 41% 10% );
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 96%);
}



/*============= base ===================== */


html, body {
  background-color: var(--body-color);
  height: 100%;
  font: 400 1rem 'Dm Sans', sans-serif;
  scroll-behavior: smooth;
}



.section {
  padding: calc(5rem + var(--header-height)) 0;
  display: flex;
  align-items: center;
} 

footer.section {
  padding: 5rem 0;
}

.section header{
  margin-bottom: 1rem;
}

h2 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  margin: 1rem 0;
}

h3 {
  font: 700 1.6rem 'Poppins', sans-serif;
  margin: 1rem 0;
}

.container {
  width: 100%;
  margin: 0 1.5rem;

}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 2rem;
}

.divider-1{
  height: 2px;
  background: linear-gradient(
    270deg, 
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2{
  height: 2px;
  background: linear-gradient(
    270deg, 
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*============ navbar ======================== */

#navbar {
  border-bottom: 1px solid rgb(223, 223, 223);
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: var(--header-height);
}

header nav a, footer .text a {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--base-color);
  transition: 0.3s;
}

header nav a span {
  color: var(--base-color-second);
}

/*=============== nav-menu ===========*/

header nav .menu{
  opacity: 0;
  transition-duration: 0.2s;
}

nav .menu ul{
  display: none;
}

nav .menu li a::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--base-color-second);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: 0.3s;
}

nav .menu li a:hover::after{
  width: 150%;
  left: -25%;
}

.toggle{
  color: var(--base-color-second);
  font-size: 32px;
}

/*================ start-scroll ========================*/

#navbar.scroll {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

/*============= show-menu ================= */

nav.show .menu ul{
  display: grid;
}

.menu li a{
  position: relative;
}

.menu li a:hover{
  color: var(--base-color-second);
}

nav.show .menu{
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--body-color);
  text-align: center;
  display: grid;
  place-content: center;
}

.icon-menu {
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: 0.5s;
  left: 0;
}

nav.show .icon-menu{
  opacity: 0;
  left: 70px;
}


nav .icon-x{
  cursor: pointer;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  transition: 0.5s;
  right: 5rem;
}

nav.show .icon-x {
  opacity: 1;
  display: block;
  right: 1.5rem; 
}

/*============= section - home ==================*/

#home{
  overflow: hidden;
}

#home .container{
  margin-left: 0;
  margin-right: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
  z-index: 0;
}

#home .image{
  position: relative;
  height: fit-content;
}

#home .image::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--base-color-second);
  right: -16%;
  top: -12%;
}

#home .text{
  
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}



#home .text p{
  margin-bottom: 2rem;
}

.button{
  display: inline-flex;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.35rem;
  align-items: center;
  color: var(--text-color-light);
  fill: var(--text-color-light);
  background-color: var(--base-color-second);
  transition: background-color 0.25s;
}

.button:hover{
  background-color: var(--base-color-alt);
}
/*============== about ===================*/

#about{
  background-color: white;
}

#about .container{
  margin: 0;
}

#about .grid{
  gap: 0.5rem;
}

#about .text{
  margin: 0 1.5rem;
}

#about .image{
  position: relative;

}

#about .image img{
  position: relative;
  height: 100%;
  z-index: 1;
}

#about .image::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--base-color-second);
  top: -12%;
  left: -33%;
  z-index: 0;
}

/*================= services ===============*/

#services strong{
  color: var(--base-color-second);
}

#services .cards{
  margin-top: 4rem;
}

.cards.grid{
  gap: 4rem;
}

#services .icon-card {
  color: var(--base-color-second);
  font-size: 4rem;
}

#services .single-card{
  text-align: center;
  padding: 3.775rem 6rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color-alt);
  border-radius: 0.35rem 0.35rem 0 0;
}

#services .single-card p{
  font-size: 1.3rem;
}

/*================= testimonials ===============*/

#testimonials{
  background-color: white;
}

#testimonials .container{
  margin: 0;
}


#testimonials h2{
  margin: 0 1.5rem;
}

#testimonials h2 > span{
  color: var(--base-color-second);
}

#testimonials blockquote {
  padding: 1.5rem;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 2rem;
  font-size: 1rem;
  color: var(--title-color);
}

#testimonials blockquote span {
  color: var(--base-color-second);
  font: 700 3.5rem serif;
  position: absolute;
  top: -1rem;
  left: -2.1rem;
}

#testimonials blockquote cite{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 1.1rem;
  color: var(--title-color);
}

#testimonials blockquote cite img{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  margin-right: 1rem;
}

/* swiper */
#testimonials .swiper-slide{
  height: auto;
  padding: 4rem 1rem 3rem 1rem;
}

#testimonials .swiper-pagination-bullet{
  width: 0.7rem;
  height: 0.7rem;
}

#testimonials .swiper-pagination-bullet-active{
  background-color: var(--base-color-alt);
}

/*================= contact ===============*/
/* icon whatsapp is isolated from the others icons in library icomoon. */
#contact .icon-whatsapp{
  margin-right: 0.825rem;
  font-size: 1.5rem;
  color: var(--base-color);
}

#contact .button{
  margin: 1.5rem 0rem 3.5rem 0rem;
}

#contact ul{
  gap: 1.5rem;
}

#contact ul li{
  color: var(--text-color);
  display: flex;
}

#contact ul li i{
  
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: var(--base-color-second);
}

#contact ul li:nth-child(1) i{
  transform: rotate(15deg);
}

/*================= footer ==================*/
footer{
  background-color: var(--base-color-alt);
  
}

footer .text span{
  color: var(--text-color-light);
}

footer .text a{
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

footer .text p{
  color: var(--text-color-light);
}

footer .social-icons {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
}

footer .social-icons i{
  display: inline-block;
  font-size: 1.625rem;
  color: var(--text-color-light);
  transition: 0.3s;
  
}

footer .social-icons i:hover{
  font-size: 1.725rem; 
  transform: translateY(-7px);
}

/*============= arrow up ===========*/

.icon-arrow-up{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: var(--body-color);
  background-color: var(--base-color-alt);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  transform: translateY(150%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.icon-arrow-up.show{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/*====================== media queries ==============*/

/* extra large devices: 1200px */

@media (min-width: 1200px){
  
  /*============ geral ==============*/

  main {
    margin-top: var(--header-height);
  }

  .section{
    padding: 10rem 0;
  }

  .container{
    max-width: 1125px;
    margin-left: auto;
    margin-right: auto;
  }

  .section header{
    margin: 0 auto;
    text-align: center;
  }

  /*============ nav ==============*/

  header nav .menu{
    opacity: 1;
    transition-duration: 0.2s;
  }

  .icon-menu, .toggle {
    display: none;
  }

  nav .menu ul{
    display: flex;
  }

  nav .menu ul li a{
    font-size: 1rem;
  }

  /*============ home ==============*/

  #home .container{
    grid-auto-flow: column;
    margin: 0 auto;
    gap: 10rem;
  }

  #home .text{
    order: 0;
    text-align: left;
    max-width: 24rem;
  }

  #home .button{
    font-size: 1.1rem;
    height: 3.125rem;
  }

  #home .image{
    order: 1;
  }

  #home .image::before{
    right: 0;
  }

  /*============ about ==============*/

   #about .container{
     margin: 0 auto;
     grid-auto-flow: column;
   }

   #about .image::before{
    top: -12%;
    left: -12%;
  }
  
  /*============ services ==============*/

  #services .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }

  #services .single-card{
    text-align: center;
    padding: 5.775rem 1rem;
  }


  /*============ testimonials ==============*/

  #testimonials .container{
    margin: 0 auto;
  }


}